<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEBACO-로그인</title>
    <script type="text/javascript">

        function login(){
           alert("환영합니다.")
      }
    </script>
</head>
<body>
    <center><h1>SEBACO RESUME MANAGEMENT SYSTEM</h1></center>
    <hr>
    <div align="right">  
        
        <a href="main.html">HOME</a>
    </div>
    <br>
    
    <div align="center">
        <h2>회원 구분 로그인</h2>
    
        <br>
<!-- 개인이랑 기업 구분해서 로그인 구현_ 이 페이지에서 개인과 기업 선택 -->
    <form>
       
        
        <button type="button" onclick="location.href='login_personal.html'">개인 회원</button>
        <button type="button" onclick="location.href='login_company.html'">기업 회원</button>

    </form>
    </div>
</body>
</html>