<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="{% static 'css/stylesHome.css' %}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>로그인 HTML</h1>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        아이디 : <input name="username" type="text">
        <br>
        비밀번호 : <input name="password" type="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="sign up">
    </form>
</div>
</body>
</html>