<!DOCTYPE html>
{% load static %}
<!--ipfs JS 추가 4개-->
<script src="https://bundle.run/buffer@5.2.1" xmlns="http://www.w3.org/1999/html"></script>
<script src="https://unpkg.com/ipfs-http-client@30.1.3/dist/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
    //IMAGE AND IPFS
  var ipfsHash;
  function setIpsfHash(hash){
    ipfsHash = hash;
  }
  function getIpfsHash(){
    return ipfsHash;
  }
  const ipfs = window.IpfsHttpClient('ipfs.infura.io', '5001', { protocol: 'https' });
  $("document").ready(function(){

    $("#upload").change(function() {
       $("#link").text("당신의 프로필을 안전하게 IPFS네트워크에 올리고있습니다.. 잠시만 기다려주세요..")
       var reader = new FileReader();
            reader.onload = function (e) {

                const magic_array_buffer_converted_to_buffer = buffer.Buffer(reader.result);
                ipfs.add(magic_array_buffer_converted_to_buffer, (err, result) => {

              let ipfsLink = "<a href='https://ipfs.io/ipfs/" + result[0].hash + "'>ipfs.io/ipfs/" + result[0].hash + "</a>";
              var image_hash = document.getElementById('image_hash');
              $("#hash").text("IPFS HASH:"+result[0].hash)

              $("#link").text("IPFS 네트워크에 성공적으로 등록되었습니다. 등록하기를 눌러도 좋습니다!")
              image_hash.value = result[0].hash
              ipfsHash = result[0].hash


              setIpsfHash(ipfsHash);


                })
            }
            reader.readAsArrayBuffer(this.files[0]);

    });
});
</script>
<style>
    #addSNS{
        color:#32609E;
    }
    #addSNS:hover{
        color:#264877;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필 등록</title>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">      
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/prostyle.css' %}" rel="stylesheet"/>
    <style>

    </style>

</head>
<body id="page-top">
  <div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="index.html">Health</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="probootstrap-nav">
          <a class="navbar-brand js-scroll-trigger" href="/">SEBAKO</a>
        <ul class="navbar-nav ml-auto">
                {% if user.is_active %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="font-weight:bold;" href="/accounts/logout">로그아웃</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="font-weight:bold;" href="/singlepage/{{profile.pk}}/">내
                    정보</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="font-weight:bold;" href="/accounts/login">로그인</a></li>
                {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- END nav -->
<br><br><br>
  <section class="mb-5" style="margin-top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h1 class="display-4" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 700; font-size : 70px; line-height:140%">
            회원정보 수정</h1><br>

        </div>
      </div>
    </div>
  </section>
        <section class="probootstrap-services">
          <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
          <div class="mb-3 pt-5">
                        <h2 class="h1" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 700; font-size : 40px; line-height:140%">
시작해보세요</h2>
            <ul class="list-unstyled probootstrap-light mb-4">
              <h2 class="h5" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 400; font-size : 20px; line-height:140%; color:white;">나만의 명함을 만들어 보세요<br><br>IPFS 네트워크에 당신의 사진을 안전하게 등록해드립니다</h2>

              <li><a href='/singlepage/{{profile.pk}}'>Go Back</a></li>

            </ul>
          </div>
        </div>
        <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
            {% if profile.korName %}
            <h1 class="mt-4 mb-4" style="font-weight: bold;">수정하기</h1>
          <div class="row">
            <div class="col-md-12">
              <form id="myForm" method="POST" action="{% url 'singlepage:profile' pk=person.pk %}" class="probootstrap-form">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" name="korName"id="korName" value="{{profile.korName}}">
                </div>
                <div class="form-group">
                    {% if profile.engName %}
                  <input type="text" class="form-control"name="engName" id="engName" value="{{profile.engName}}">
                    {% else %}
                  <input type="text" class="form-control"name="engName" id="engName" placeholder="영문이름을 입력해주세요">
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if profile.email %}
                  <input type="email" id="email"name="email" class="form-control" value="{{profile.email}}">
                    {% else %}
                  <input type="email" id="email"name="email" class="form-control" placeholder="이메일을 입력해주세요">
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if profile.phone %}
                  <input type="text" id="phone"name="phone" class="form-control" value="{{profile.phone}}">
                    {% else %}
                  <input type="text" id="phone"name="phone" class="form-control" placeholder="전화번호를 입력해주세요 ex) 010-1234-5678">
                    {% endif %}
                </div>
                  {% if profile.image_hash %}
                  <div>
                        <div class="form-group">

                        <h3 style="font-weight: bold;">프로필 사진</h3>
                        </div>
                                   <h4 id="link" style="font-style: italic; font-weight: bold; text-align: center; margin-top: 20px"></h4>

                                  <a href="https://ipfs.io/ipfs/{{profile.image_hash}}" id="hash" style="font-style: italic; font-weight: bold; margin-top: 20px">https://ipfs.io/ipfs/{{profile.image_hash}}</a>
                        <div>
                            <input type="file" id="upload"><br>
                        </div>


                        <h4 id="hash" style="font-style: italic; font-weight: bold; margin-top: 20px"></h4>


                         <h4 id="link" style="font-style: italic; font-weight: bold; text-align: center; margin-top: 20px"></h4>
                          <input type="hidden" name="image_hash" id="image_hash">
                  </div>
<!--                  프로필 이미지 해시 if 문-->
                  {% else %}
                  <div>
                      <h3 style="font-family: 'Noto Sans KR', sans-serif; font-weight : 500; font-size : 27px;">프로필 사진</h3>
                  </div>
                  <div>
                      <input type="file" id="upload"><br>
                  </div>

                  <h4 id="hash" style="font-style: italic; font-weight: bold; margin-top: 20px"></h4>


                  <h4 id="link" style="font-style: italic; font-weight: bold; text-align: center; margin-top: 20px"></h4>
                  <input type="hidden" name="image_hash" id="image_hash">
<!--                  프로필 이미지 해시 if 문 종료-->
                  {% endif %}
                  <h3 style="font-weight: bold;">개인 SNS주소</h3>
                  <div class="form-group">
                      {% if profile.insta %}
                    <input type="text" id="insta"name="insta" class="form-control" value="{{profile.insta}}"><br>
                      {% else %}
                    <input type="text" id="insta"name="insta" class="form-control" placeholder="Instagram 주소"><br>
                      {% endif %}
                      {% if profile.github %}
                    <input type="text" id="github"name="github" class="form-control" value="{{profile.github}}"><br>
                      {% else %}
                    <input type="text" id="github"name="github" class="form-control" placeholder="Github 주소"><br>
                      {% endif %}
                      {% if profile.blog %}
                    <input type="text" id="blog"name="blog" class="form-control" value="{{profile.blog}}"><br>
                      {% else %}
                    <input type="text" id="blog"name="blog" class="form-control" placeholder="Blog 주소"><br>
                      {% endif %}
                      {% if profile.facebook %}
                    <input type="text" id="facebook"name="facebook" class="form-control" value="{{profile.facebook}}"><br>
                      {% else %}
                    <input type="text" id="facebook"name="facebook" class="form-control" placeholder="Facebook 주소">
                      {% endif %}
                  </div>


                  <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="등록하기" style="margin-top: 80px; font-size:16px">
                  </div>
              </form>
            </div>
          </div>
            {% else %}
          <h1 class="mt-4 mb-4" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 700; font-size : 44px;">시작하기:)</h1>
          <div class="row">
            <div class="col-md-12">
              <form id="myForm" method="POST" action="{% url 'singlepage:profile' pk=person.pk %}" class="probootstrap-form">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" name="korName"id="korName" placeholder="성명을 입력해주세요">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"name="engName" id="engName" placeholder="영문이름을 입력해주세요">
                </div>
                <div class="form-group">
                  <input type="email" id="email"name="email" class="form-control" placeholder="이메일을 입력해주세요">
                </div>
                <div class="form-group">
                  <input type="text" id="phone"name="phone" class="form-control" placeholder="전화번호를 입력해주세요 ex) 010-1234-5678">
                </div>

              <div>
                <h3 style="font-family: 'Noto Sans KR', sans-serif; font-weight : 500; font-size : 27px;">프로필 사진</h3>
              </div>
                <div>
                  <input type="file" id="upload"><br>
                </div>


                <h4 id="hash" style="font-style: italic; font-weight: bold; margin-top: 20px"></h4>

                 <h4 id="link" style="font-style: italic; font-weight: bold; text-align: center; margin-top: 20px"></h4>
                  <input type="hidden" name="image_hash" id="image_hash">
                <h3 style="font-family: 'Noto Sans KR', sans-serif; font-weight : 500; font-size : 27px;">개인 SNS주소</h3>
                  <div class="form-group">
                      {% if profile.insta %}
                    <input type="text" id="insta"name="insta" class="form-control" value="{{profile.insta}}"><br>
                      {% else %}
                    <input type="text" id="insta"name="insta" class="form-control" placeholder="Instagram 주소"><br>
                      {% endif %}
                      {% if profile.github %}
                    <input type="text" id="github"name="github" class="form-control" value="{{profile.github}}"><br>
                      {% else %}
                    <input type="text" id="github"name="github" class="form-control" placeholder="Github 주소"><br>
                      {% endif %}
                      {% if profile.blog %}
                    <input type="text" id="blog"name="blog" class="form-control" value="{{profile.blog}}"><br>
                      {% else %}
                    <input type="text" id="blog"name="blog" class="form-control" placeholder="Blog 주소"><br>
                      {% endif %}
                      {% if profile.facebook %}
                    <input type="text" id="facebook"name="facebook" class="form-control" value="{{profile.facebook}}"><br>
                      {% else %}
                    <input type="text" id="facebook"name="facebook" class="form-control" placeholder="Facebook 주소">
                      {% endif %}
                  </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="등록하기" style="margin-top: 80px; font-family: 'Noto Sans KR', sans-serif; font-weight : 400; font-size:16px">
                </div>
              </form>
            </div>
          </div>
            {% endif %}
        </div>
      </div>
    </div>
  </section>

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<!--web3 JS-->
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
<script src="{% static 'js/web3auth.js' %}"></script>

</body>
</html>