<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--ipfs JS 추가 4개-->
<script src="https://bundle.run/buffer@5.2.1" xmlns="http://www.w3.org/1999/html"></script>
<script src="https://unpkg.com/ipfs-http-client@30.1.3/dist/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<!--web3 및 이더리움 연결 js-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
<!--<script src="{% static 'js/resume_post.js' %}"></script>-->
<!--비동기 크롤링 axios 임포트-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const abi = [
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "pid",
				"type": "address"
			}
		],
		"name": "newCertifiactionCreated",
		"type": "event"
	},
	{
		"constant": true,
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "compAddressList",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "companyCount",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "companyDetailList",
		"outputs": [
			{
				"internalType": "address",
				"name": "compAdress",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "compName",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "compSpecialization",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "companyList",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"internalType": "address",
				"name": "_pid",
				"type": "address"
			}
		],
		"name": "companySign",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getBalance",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "get_count",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "pidCount",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "pidList",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "resumeList",
		"outputs": [
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "registerNumber",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "companyName",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "issueDate",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "fileurl",
				"type": "string"
			},
			{
				"internalType": "address",
				"name": "companyAddress",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "resumeID",
				"type": "address"
			},
			{
				"internalType": "bool",
				"name": "pidAvailable",
				"type": "bool"
			},
			{
				"internalType": "bool",
				"name": "companySignature",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_registerNumber",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_companyName",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_issueDate",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_fileurl",
				"type": "string"
			}
		],
		"name": "setCertifiactionData",
		"outputs": [],
		"payable": true,
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"internalType": "address",
				"name": "_compAddress",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "_name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "_spec",
				"type": "string"
			}
		],
		"name": "setCompany",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"internalType": "address",
				"name": "_newOwner",
				"type": "address"
			}
		],
		"name": "transferOwnership",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	}
]
// 수신 wallet_Address;
const c_address="0xE4cD403C1216cA0A313ed9419fD3d4C332EA818E";
window.web3 = new Web3(window.ethereum)
web3 = window.web3
contract = new web3.eth.Contract(abi,c_address)


function waitForReceipt(hash, cb) {
    web3.eth.getTransactionReceipt(hash, function (err, receipt) {
      if (err) {
        error(err);
      }
      if (receipt !== null) {
        // Transaction went through
        if (cb) {
          cb(receipt);
        }
      } else {
        // Try again in 1 second
        window.setTimeout(function () {
          waitForReceipt(hash, cb);
        }, 1000);
      }
    });
  }

//FOR CHANGING PAGE
      function append(){

        var sale;
        let title=$("#title").val();
        let subtitle=$("#subtitle").val();
        let company=$("#content").val();
        let ddate = $("#ddate").val();
        let check = false;
        console.log('haha' + title,subtitle,company,ddate);
        if(title==''||subtitle==''||company==''||ddate==''){
            alert('모든 값을 작성하여주세요');
        }

        else{
        $.ajax({
                    type: "POST",
                    url: "{% url 'singlepage:get_api' %}",
                    data: {'csrfmiddlewaretoken': '{{csrf_token}}',
            'title':title,
            'subtitle':subtitle,
            'content':company,
            'ddate':ddate},
                    dataType: "json",
                    success : function(response){console.log(response);
                        console.log(response.result);
                        if(response.result == true){
                            check = true;
                            console.log('합격');
                            $("#rec_url").text("RECEIPT IS LOADING......")
        $.ajax({
            type: "POST",
            url: "{% url 'singlepage:created_resume_db' %}",
            data: {'csrfmiddlewaretoken': '{{csrf_token}}',
            'title':title,
            'subtitle':subtitle,
            'content':company,
            'ddate':ddate},
            dataType:"json",

        });

        web3.eth.getAccounts(function get(err, res){
                  account=res[0]
                  console.log(account)
                  transaction =
                  ({
                    from: account,
                    "gas": 300000,
                    "chainId": 3,
                    "gasPrice": web3.utils.toWei('4.1','Gwei')
                  })

                  contract.methods.setCertifiactionData(title,subtitle,company,ddate,'').send(
                      transaction,
                      (error,result)=>{
                          if(error){
                            console.log('hahah why not')
                          }
                          else{
                            waitForReceipt(result, function(){
                                console.log(result)
                                var newUrl = "https://ropsten.etherscan.io/tx/" + result
                                $("#rec_url").attr("href", newUrl)
                                $("#rec_url").text(result)
                                }
                            )
                          }
                      }
                  );

        });

                        }
                        else{
                            console.log('불합격');
                            alert('정보가 옳바르지 않습니다');
                        }
                    }
            });

        }
      }
</script>
<head>
    <meta charset="UTF-8">
    <title>자격증 등록</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">      
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/prostyle.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
  <div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="index.html">Health</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="probootstrap-nav">
          <a class="navbar-brand js-scroll-trigger" href="/">SEBAKO</a>
        <ul class="navbar-nav ml-auto">
                {% if user.is_active %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="font-weight:bold;" href="/accounts/logout" style="font-family: 'Noto Sans KR', sans-serif; font-weight : bold; font-size : 30px">
                  로그아웃</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="font-weight:bold;" href="/singlepage/{{profile.pk}}/" style="font-family: 'Noto Sans KR', sans-serif; font-weight : bold; font-size : 10px">
                  내 정보</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="font-weight:bold;" href="/accounts/login" style="font-family: 'Noto Sans KR', sans-serif; font-weight : bold; font-size : 10px">
                  로그인</a></li>
                {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- END nav -->
<br><br><br>
<section class="mb-5" style="margin-top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mb-2">
          <h1 class="display-4" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 700; font-size : 70px; line-height:140%">자격증 등록</h1><br>

        </div>
      </div>
    </div>
  </section>
        <section class="probootstrap-services">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
          <div class="mb-4 pt-5">
            <h2 class="h1" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 500; font-size : 40px; line-height:140%">
              Let's register</h2>
            <ul class="list-unstyled probootstrap-light mb-4">
              <li class="h5" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 400; font-size : 24px; line-height:140%; color:white;">
                취득한 자격증을 한눈에</li>
              <li class="h5" style="font-family: 'Noto Sans KR', sans-serif; font-weight : 200; font-size : 20px; line-height:140%; color:white;">
                이더리움 네트워크에 저장되어 <br>안전하게 저장됩니다</li>
              <li><a href='/singlepage/{{profile.pk}}'>Go Back</a></li>

            </ul>
          </div>
        </div>
        <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
          <h1 class="mt-4 mb-4" style="font-weight: bold;">자격증</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-form">
                {% csrf_token %}
                <div class="form-group col-md-5" style="padding-left:0px;" >
                  <input type="text" class="form-control" name="title"id="title" placeholder="자격증명">
                </div>
                <div class="form-group col-md-5" style="padding-left:0px">
                  <input type="text" class="form-control"name="subtitle" id="subtitle" placeholder="자격증 번호">숫자만 입력해주세요</input>
                </div>
                <div class="form-group col-md-5" style="padding-left:0px">
                  <input type="text" id="content"name="content" class="form-control" placeholder="발행기관">
                </div>
                <div class="form-group col-md-5" style="padding-left:0px">
                  <input type="date" id="ddate" name="ddate" class="form-control" placeholder="취득일">
                </div>

                <div class="form-group" style="margin-top: 20px; text-align: left;">
                    <label  style="font-size: 15px">국가기술</label><input  style="width: 20px; height: 15px; margin-left: 15px" id="for_sale" name="for_sale" type="checkbox" checked data-toggle="toggle" data-on="YES" data-off="NO" data-size="md">
                </div>


<!--                <div>-->
<!--                    <label for="upload">필수 X</label>-->
<!--                  <input type="file" id="upload"><br>-->
<!--                </div>-->
<!--                <div col-md-5>-->
<!--                <h4 id="hash" style="font-style: italic; font-weight: bold; margin-top: 20px"></h4>-->

<!--                 <h4 id="link" style="font-style: italic; font-weight: bold; text-align: center; margin-top: 20px"></h4>-->
<!--                  <input type="hidden" name="image_hash" id="image_hash">-->
<!--                </div>-->
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" onclick="append()" value="등록하기" style="margin-top: 20px; margin-left: 0px; font-size:16px">
                </div>
              </div>
            <div class="container" style="margin-bottom: 100px; margin-left:-18px; ">
                <h2 id="receipt" style=" font-weight:bold;">등록하기 버튼을 누르면 자격증이 블록체인에 등록됩니다. 등록이 완료되면 아래에 링크가 생성됩니다</h2>
                <a id="rec_url" href="" style="font-size: 20px"></a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>