<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8 col-md-8">
        <div class="alert alert-primary" role="alert">
            모든 부분을 다 채워주세요!!
        </div>
<!--        enctype을 설정하여야 파일을 주고받을 수 있음-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="제출하기" class="btn btn-primary">
        </form>
    </div>
    <div class="col"></div>
</div>
</body>
</html>